<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Dog Classifier</title>
</head>
<body>
    <div align="center">
        <h1 class="h3 mb-3 font-weight-normal">Prediction</h1>
        <h5 class="h5 mb-3 font-weight-normal">Detected Image: {{ class_name }}</h5>
        <h5 class="h6 mb-3 font-weight-normal">Probability: {{ class_prob }}</h5>
        <p class="mt-5 mb-3 text-muted">Built using PyTorch and Flask</p>
    </div>
</body>
</html>